{% extends "homepage.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>CardNumber:</td>
                <td><input type="text" name="cardnumber"></td>
            </tr>
            <tr>
                <td>cvv:</td>
                <td><input type="text" name="cvv"></td>
            </tr>
            <tr>
                <td>Expiry:</td>
                <td><input type="text" name="expiry"></td>
            </tr>
            
        </table><br>
        <button type="submit" class="btn btn-info">Pay</button>
  
    </form>
</center>
</body>
</html>
{% endblock %}